<template>
    <div>
        <BaseResult v-if="!isFavarite" />

        <BaseFavorite v-else />
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'
import BaseFavorite from 'src/components/base/BaseFavorite.vue'
import BaseResult from 'src/components/base/BaseResult.vue'

export default Vue.extend({
    name: 'Home',
    components: {
        BaseFavorite,
        BaseResult,
    },

    computed: mapGetters({
        isFavarite: 'getIsFavarite',
    }),
})
</script>

<style lang="scss" scoped></style>
