<template>
    <v-row justify="center" v-if="item.volumeInfo">
        <v-dialog v-model="dialog" persistent max-width="1000px">
            <v-card>
                <v-card-title class="d-flex justify-space-between">
                    <span class="headline"> Boook Information </span>
                    <!-- @click="handleFavorite" -->
                    <v-btn icon @click="$emit('handleClickHeart')">
                        <v-icon v-if="favorite" color="red">mdi-heart</v-icon>
                        <v-icon v-else>mdi-heart</v-icon>
                    </v-btn>
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row class="d-flex justify-center">
                            <v-col cols="12" sm="6" md="4">
                                <v-img
                                    v-if="item.volumeInfo.imageLinks"
                                    max-height="300"
                                    max-width="180"
                                    :src="item.volumeInfo.imageLinks.thumbnail"
                                ></v-img>
                                <v-img
                                    v-else
                                    max-height="300"
                                    max-width="180"
                                    :src="noCovere"
                                ></v-img>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-list-item>
                                    <v-list-item-subtitle
                                        >title
                                    </v-list-item-subtitle>
                                    <v-list-item-subtitle>{{
                                        item.volumeInfo.title
                                    }}</v-list-item-subtitle>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-subtitle
                                        >authors</v-list-item-subtitle
                                    >
                                    <v-list-item-subtitle>{{
                                        item.volumeInfo.authors
                                            ? item.volumeInfo.authors.join(',')
                                            : item.volumeInfo.authors
                                    }}</v-list-item-subtitle>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-subtitle
                                        >publishedDate</v-list-item-subtitle
                                    >
                                    <v-list-item-subtitle
                                        v-if="item.volumeInfo.publishedDate"
                                        >{{
                                            renderDate(
                                                item.volumeInfo.publishedDate
                                            )
                                        }}</v-list-item-subtitle
                                    >
                                </v-list-item>

                                <v-list-item>
                                    <v-list-item-subtitle
                                        >page count</v-list-item-subtitle
                                    >
                                    <v-list-item-subtitle>{{
                                        item.volumeInfo.pageCount
                                    }}</v-list-item-subtitle>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-subtitle
                                        >industry
                                        identifiers</v-list-item-subtitle
                                    >
                                </v-list-item>
                                <v-list-item
                                    v-for="(tatgetIndustry, index) in item
                                        .volumeInfo.industryIdentifiers"
                                    :key="index"
                                >
                                    <div>
                                        {{ tatgetIndustry.type }} :
                                        {{ tatgetIndustry.identifier }}
                                    </div>
                                </v-list-item>
                            </v-col>
                            <v-col cols="12" class="text-start">
                                <v-list-item-subtitle class="subtitle-2"
                                    >description</v-list-item-subtitle
                                >
                                <div class="description-body">
                                    {{ item.volumeInfo.description }}
                                </div>
                            </v-col>

                            <v-col
                                cols="12"
                                class="text-center d-flex justify-end"
                            >
                                <v-btn
                                    rounded
                                    color="primary"
                                    dark
                                    :href="item.volumeInfo.canonicalVolumeLink"
                                    target="_blank"
                                >
                                    {{
                                        item.saleInfo.saleability === 'FOR_SALE'
                                            ? item.saleInfo.listPrice.amount +
                                              ' THB'
                                            : item.saleInfo.saleability ===
                                              'FREE'
                                            ? 'GET FREE'
                                            : 'VIEW'
                                    }}
                                </v-btn>

                                <v-btn rounded text @click="$emit('clearItem')">
                                    Close
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import format from 'date-fns/format'

export default Vue.extend({
    props: {
        item: {
            type: Object,
            default: null,
        },
        dialog: {
            type: Boolean,
            default: false,
        },
        favorite: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            noCovere: require('src/assets/image/no_cover_thumb.gif'),
            isFavorite: false,
        }
    },

    watch: {
        dialog() {
            this.dialog
        },
    },
    methods: {
        renderDate(date: string): string {
            const formatDate = new Date(date)
            return format(formatDate, 'MM/dd/yyyy')
        },
    },
})
</script>

<style scoped>
.description-body {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}
</style>
