<template>
    <div>
        <section class="mt-8">
            <v-container class="lighten-5 mb-6" style="min-height: 100vh">
                <v-row>
                    <div class="title">Favorite</div>
                </v-row>

                <v-row>
                    <v-col
                        v-for="(item, index) in favoriteData"
                        :key="index"
                        sm="6"
                        md="3"
                        cols="12"
                    >
                        <BaseCardBook :item="item" />
                    </v-col>
                </v-row>
            </v-container>
        </section>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import BaseCardBook from 'src/components/base/BaseCardBook.vue'

export default Vue.extend({
    name: 'Home',
    components: {
        BaseCardBook,
    },
    data: () => ({
        favoriteData: null,
        targetModalItem: {},
    }),
    mounted() {
        this.getFavoriteData()
    },

    methods: {
        async getFavoriteData(): Promise<void> {
            var a = [] as any
            a = JSON.parse(localStorage.getItem('favorite')!)
            this.favoriteData = a
        },
    },
})
</script>

<style lang="scss" scoped>
.title {
    width: 234px;
    height: 48px;

    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #000000;
}
</style>
