<template>
    <div v-if="item" class="group">
        <v-card
            v-if="item.volumeInfo"
            min-height="250"
            width="250"
            class="base-card"
        >
            <v-icon
                class="heart"
                :color="isFavorite ? 'red' : ''"
                @click="handleClickHeart"
                >mdi-heart</v-icon
            >
            <div @click="selectData">
                <div class="d-flex justify-center">
                    <v-img
                        v-if="item.volumeInfo.imageLinks"
                        max-height="200"
                        max-width="150"
                        :src="item.volumeInfo.imageLinks.thumbnail"
                    ></v-img>
                    <v-img
                        v-else
                        max-height="200"
                        max-width="150"
                        :src="noCovere"
                    ></v-img>
                </div>
                <v-card-text class="text-center">
                    {{ item.volumeInfo.title }}<br />

                    <b>{{
                        item.saleInfo.saleability === 'FOR_SALE'
                            ? item.saleInfo.listPrice.amount + ' THB'
                            : item.saleInfo.saleability === 'FREE'
                            ? 'FREE'
                            : 'NOT FOR SALE '
                    }}</b>
                </v-card-text>
            </div>
        </v-card>

        <BaseModal
            v-if="item"
            :dialog="showModal"
            :item="item"
            :favorite="isFavorite"
            @clearItem="clearItem($event)"
            @handleClickHeart="handleClickHeart($event)"
        />
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import BaseModal from 'src/components/base/BaseModal.vue'

export default Vue.extend({
    props: {
        item: {
            type: Object,
        },
    },
    components: {
        BaseModal,
    },
    mounted() {
        this.checkFavorite(this.item.id)
    },
    data() {
        return {
            noCovere: require('src/assets/image/no_cover_thumb.gif'),
            showModal: false,
            isFavorite: false,
            targetModalItem: {},
        }
    },
    watch: {
        isFavorite() {
            this.isFavorite
        },
    },
    methods: {
        selectData(item: any) {
            this.showModal = true
        },
        clearItem(): void {
            this.showModal = false
            this.checkFavorite(this.item.id)
        },

        handleClickHeart(): void {
            var obj: any = {}
            obj = JSON.parse(localStorage.getItem('favorite') || '{}')
            if (obj) {
                const targetItem = this.checkFavorite(this.item.id)
                if (targetItem) {
                    delete obj[this.item.id]
                } else {
                    obj[this.item.id] = this.item
                }
            } else {
                obj[this.item.id] = this.item
            }
            localStorage.setItem('favorite', JSON.stringify(obj))
            this.checkFavorite(this.item.id)

            this.$emit('clearFavorite')
        },
        checkFavorite(id: string): boolean {
            var obj: any = {}
            obj = JSON.parse(localStorage.getItem('favorite') || '{}')
            if (obj) {
                if (obj[id]) {
                    this.isFavorite = true

                    return true
                } else {
                    this.isFavorite = false

                    return false
                }
            } else {
                this.isFavorite = false
                return false
            }
        },
    },
})
</script>

<style lang="scss" scoped>
.group {
    position: relative;
    .base-card {
        box-shadow: none !important;
        cursor: pointer !important;
        margin: auto !important;
    }
    .heart {
        position: absolute;
        right: 20px;
        top: -12px;
        z-index: 2;
    }
}
</style>
