<template>
    <div>
        <section class="mt-8">
            <v-container class="lighten-5 mb-6" style="min-height: 100vh">
                <v-row>
                    <div class="title">Result</div>
                </v-row>

                <v-row>
                    <v-col
                        v-for="(item, index) in bookdata"
                        :key="index"
                        sm="6"
                        md="3"
                        cols="12"
                        style="position: relative; z-index: 0"
                    >
                        <BaseCardBook :item="item" />
                    </v-col>
                </v-row>
            </v-container>

            <ScrollLoader v-if="bookdata.length" :loader-method="getLoadeMore">
            </ScrollLoader>
        </section>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'
import ScrollLoader from 'vue-scroll-loader'
import BaseCardBook from 'src/components/base/BaseCardBook.vue'
Vue.use(ScrollLoader)

export default Vue.extend({
    name: 'Home',
    components: {
        BaseCardBook,
    },
    data: () => ({
        noCovere: require('src/assets/image/no_cover_thumb.gif'),
        showModal: false,
        targetModalItem: {},
    }),
    mounted() {
        this.getBookData()
    },
    computed: mapGetters({
        bookdata: 'getbookdata',
    }),
    methods: {
        async getBookData(): Promise<void> {
            await this.$store.commit('setData', { q: 'flowers+inauthor' })
            await this.$store
                .dispatch('loadBook', {
                    isLoadmore: false,
                })
                .catch((error) => console.log(error))
        },

        getLoadeMore(): void {
            this.$store
                .dispatch('loadBook', {
                    isLoadmore: true,
                })
                .catch((error) => console.log(error))
        },
    },
})
</script>

<style lang="scss" scoped>
.title {
    width: 234px;
    height: 48px;

    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #000000;
}
</style>
