<template>
    <section class="first-section">
        <div class="logo-zone">
            <span
                style="cursor: pointer"
                class="text-h3"
                @click="$store.commit('setFavarite', false)"
            >
                BOOK DIRECTORY
            </span>
        </div>
        <img
            class="background-img"
            src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"
            alt="background"
        />
    </section>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.first-section {
    position: relative;
    height: 400px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(12, 1fr);
    .logo-zone {
        grid-column: 1 / 7;
        padding: 50px 50px 50px 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
}

.background-img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
</style>
