<template>
    <v-toolbar class="sticky" color="">
        <v-container class="lighten-5 mb-6">
            <v-row class="mt-5">
                <v-toolbar-title
                    class="mt-5"
                    style="cursor: pointer"
                    @click="handleSetFavarite(false)"
                    >Book Directory</v-toolbar-title
                >

                <v-spacer> </v-spacer>

                <div>
                    <v-col style="position: relative">
                        <v-text-field v-model="query.q">
                            <v-icon
                                slot="append"
                                style="cursor: pointer"
                                @click="showSetting = !showSetting"
                            >
                                mdi-cog-outline
                            </v-icon>

                            <v-icon
                                slot="prepend"
                                color="orange"
                                style="cursor: pointer"
                                @click="showSetting = false"
                            >
                                mdi-magnify
                            </v-icon>
                        </v-text-field>
                        <v-card
                            v-if="showSetting"
                            style="
                                position: absolute;
                                width: 100%;
                                height: 420px;
                                pading: 5px;
                            "
                        >
                            <div class="d-flex justify-end">
                                <v-btn icon @click="showSetting = !showSetting">
                                    <v-icon>mdi-close</v-icon>
                                </v-btn>
                            </div>

                            <v-container class="lighten-5 mb-6">
                                <v-select
                                    v-model="query.filter"
                                    :items="filters"
                                    label="filter"
                                ></v-select>
                                <v-select
                                    v-model="query.orderBy"
                                    :items="orderBys"
                                    label="orderBy"
                                ></v-select>
                                <v-select
                                    v-model="query.printType"
                                    :items="printTypes"
                                    label="printType"
                                ></v-select>
                                <v-text-field
                                    v-model="query.langRestrict"
                                    label="langRestrict(example:TH)"
                                    hide-details="auto"
                                ></v-text-field>
                                <v-checkbox
                                    v-if="query.filter === 'paid-ebooks'"
                                    class="mt-3"
                                    v-model="query.isRange"
                                    :label="`Min and max range USD`"
                                ></v-checkbox>

                                <v-range-slider
                                    v-if="query.isRange"
                                    v-model="query.range"
                                    :max="ranges.max"
                                    :min="ranges.min"
                                    hide-details
                                    class="align-center"
                                >
                                    <template v-slot:prepend>
                                        <v-text-field
                                            :value="query.range[0]"
                                            class="mt-0 pt-0"
                                            hide-details
                                            single-line
                                            type="number"
                                            style="width: 60px"
                                            @change="
                                                $set(query.range, 0, $event)
                                            "
                                        ></v-text-field>
                                    </template>
                                    <template v-slot:append>
                                        <v-text-field
                                            :value="query.range[1]"
                                            class="mt-0 pt-0"
                                            hide-details
                                            single-line
                                            type="number"
                                            style="width: 60px"
                                            @change="
                                                $set(query.range, 1, $event)
                                            "
                                        ></v-text-field>
                                    </template>
                                </v-range-slider>
                            </v-container>
                        </v-card>
                    </v-col>
                </div>
                <v-btn icon @click="handleSetFavarite(true)">
                    <v-icon>mdi-heart</v-icon>
                </v-btn>
            </v-row>
        </v-container>
    </v-toolbar>
</template>

<script>
export default {
    data: () => ({
        showSetting: false,
        descriptionLimit: 60,
        entries: [],
        isLoading: false,
        model: null,
        bookData: null,
        filters: ['', 'ebooks', 'free-ebooks', 'full', 'paid-ebooks'],
        orderBys: ['newest', 'relevance'],
        printTypes: ['all', 'books', 'magazines'],
        ranges: {
            min: 0,
            max: 1000000,
        },
        query: {
            q: '',
            filter: '',
            orderBy: 'newest',
            printType: 'all',
            langRestrict: '',
            isRange: false,
            range: [0, 1000000],
        },
    }),

    computed: {
        items() {
            return this.entries.map((entry) => {
                const Description =
                    entry.Description.length > this.descriptionLimit
                        ? entry.Description.slice(0, this.descriptionLimit) +
                          '...'
                        : entry.Description

                return Object.assign({}, entry, { Description })
            })
        },
    },
    watch: {
        query: {
            handler(val) {
                this.timer()
            },
            deep: true,
        },
    },
    methods: {
        async search() {
            if (!this.query.q) {
                return
            }
            console.log(this.query.q)
            await this.$store.commit('setData', this.query)
            await this.$store.dispatch('loadBook', {
                isLoadmore: false,
                query: this.query,
            })
        },
        async handleSetFavarite(item) {
            await this.$store.commit('setFavarite', item)
        },

        async timer() {
            await setTimeout(this.search, null)
        },
    },
}
</script>

<style lang="scss">
.sticky {
    z-index: 99;
    position: sticky !important;
    top: 0;
    left: 0;
    width: 100%;
}
</style>
