<template>
    <v-footer dark padless>
        <v-container class="lighten-5 mb-6 mt-5">
            <v-row>
                <v-toolbar-title>Book Directory</v-toolbar-title>
            </v-row>
            <v-row>
                <v-col>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Tempora doloremque ea, ab,
                </v-col>
                <v-col>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Tempora doloremque ea, ab, esse
                </v-col>
                <v-col>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Tempora doloremque ea, ab, esse as
                </v-col>
            </v-row>
            <v-row>
                <v-card-text>
                    <v-btn
                        v-for="icon in icons"
                        :key="icon"
                        class="white--text"
                        icon
                    >
                        <v-icon size="24px">
                            {{ icon }}
                        </v-icon>
                    </v-btn>
                </v-card-text>
            </v-row>
        </v-container>
    </v-footer>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    data: () => ({
        icons: ['mdi-facebook', 'mdi-twitter', 'mdi-instagram'],
    }),
})
</script>

<style scoped></style>
