<template>
    <v-app>
        <v-main>
            <SiteNavbar />
            <Banner />
            <router-view />
            <SiteFooter />
        </v-main>
    </v-app>
</template>

<script lang="ts">
import Vue from 'vue'

import SiteNavbar from 'src/components/common/SiteNavbar.vue'
import SiteFooter from 'src/components/common/SiteFooter.vue'
import Banner from 'src/components/common/Banner.vue'
export default Vue.extend({
    name: 'App',
    components: {
        SiteNavbar,
        SiteFooter,
        Banner,
    },
    data: () => ({
        //
    }),
})
</script>
